* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  font-family: 'Roboto', sans-serif;

  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(235deg, rgb(247, 246, 251), rgb(212, 213, 238), rgb(174, 193, 229));
}



nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.nav-contact-container {
  flex: 1;
  text-align: center;
}

.nav-contact {
  padding: 10px 20px;
  background: linear-gradient(135deg, rgb(23, 95, 229), rgb(212, 213, 238));
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s; /* Ajoute une transition pour le survol */
}

.nav-contact:hover {
  transform: scale(1.05); /* Agrandit légèrement le cadre au survol */
  background: linear-gradient(135deg, rgb(18, 75, 180), rgb(182, 183, 205)); /* Change légèrement le dégradé au survol */
}


.nav-urgence-container {
  flex: 1;
  text-align: right;
}

.nav-urgence {
  font-weight: bold;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
}

.navbar-links-container a:last-child {
  margin-right: 0;
}

.home-banner-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px;
  margin-top: 50px;
}

.home-text-section {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Réduit l'espace entre les éléments de la section */
}

.home-small-title {
  font-size: 18px;
  color: #1763e5;
  font-weight: bold;
  margin: 0 0 5px 0; /* Réduit la marge inférieure */
}

.primary-heading {
  font-size: 32px;
  color: #333;
  margin: 0 0 10px 0; /* Réduit la marge inférieure */
}

.primary-text {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.service-overview-header {
  display: flex;
  align-items: center;
  margin: 20px 0; /* Ajuste l'espacement au-dessus et au-dessous de la section */
}

.overview-icon {
  font-size: 40px;
  color: #1763e5;
  margin-right: 10px;
}

.overview-small-title {
  font-size: 16px;
  color: #1763e5;
}

.overview-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.service-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border-radius: 15px;
  padding: 25px; /* Espacement intérieur plus généreux */
  background: linear-gradient(135deg, #1a73e8, #a1c4fd); /* Dégradé vibrant de bleu */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée pour un effet de profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet de hover */
}

.service-details:hover {
  transform: translateY(-7px); /* Légère remontée sur hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Ombre plus dramatique sur hover */
}

.service-section-left,
.service-section-right {
  flex: 1; /* Chaque section prend un espace égal */
  color: white; /* Texte en blanc pour contraster avec le fond */
}

.vertical-line {
  width: 2px;
  background-color: #ffffff80; /* Ligne verticale semi-transparente */
  height: auto;
  margin: 0 20px; /* Espacement autour de la ligne */
}



.service-section-right p {
  margin: 10px 0;
}







.contact-number {
  margin-top: 20px; /* Réduit l'espace au-dessus du numéro de téléphone */
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.home-bannerImage-container {
  max-width: 60%;
  padding: 40px;
  border-radius: 10px;
  margin-top: 50px;
}

.round-image {
  width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.service-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.service-section-left,
.service-section-right {
  flex: 1;
}

.service-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-icon {
  font-size: 36px;
  color: #1763e5;
  margin-right: 10px;
}

.service-small-title {
  font-size: 16px;
  color: #1763e5;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}



.vertical-line {
  width: 2px;
  background-color: #ddd;
  height: 100%;
  align-self: stretch;
}

.service-section-right {
  font-size: 16px;
  color: #555;
}



.round-image {
  width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.services-container {
  width: 100%;
  color: white;
  margin-top: 10px;
}

.services-content {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

.services-header {
  padding-bottom: 32px;
}

.services-title {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 4px solid gray;
  display: inline-block;
}

.services-subtitle {
  padding-top: 16px;
  font-size: 18px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.service-item {
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.6);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px; /* Ajout de marge en bas */
}

.portfolio-img {
  width: 100%;
  height: 200px; /* Fixer la hauteur des images pour qu'elles soient toutes égales */
  object-fit: cover; /* Ajuster les images pour couvrir l'espace disponible */
  transition: transform 0.2s;
}

.portfolio-img:hover {
  transform: scale(1.05);
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  flex-grow: 1; /* Assure que le texte prend de la place verticale disponible */
}

.service-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.portfolio-button {
  padding: 8px 16px;
  background-color: rgb(23, 95, 229);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.portfolio-button:hover {
  background-color: rgb(23, 95, 229);
}


.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: rgb(23, 95, 229);
}
.about-section-container {
  display: flex;
  align-items: center; /* Aligne l'image et le texte au centre verticalement */
  justify-content: space-between; /* Espace entre l'image et le texte */
  padding: 20px;
  gap: 40px; /* Augmente l'espacement entre l'image et le texte */
  margin-top: 60px; /* Ajoute de la marge au-dessus de la section */
}

.about-section-image-container {
  flex: 1; /* Permet à l'image de prendre une partie de l'espace */
  max-width: 35%; /* Réduit légèrement la largeur maximale de l'image */
  margin-right: 40px; /* Augmente l'espacement entre l'image et le texte */
}

.about-section-image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Coins arrondis pour l'image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour l'image */
}

.about-section-text-container {
  flex: 2; /* Permet au texte de prendre plus d'espace */
  max-width: 60%; /* Limite la largeur maximale du texte */
  text-align: left; /* Aligne le texte à gauche */
  margin-right: 20px; /* Ajoute de la marge à droite du texte */
}

.primary-subheading {
  font-size: 18px;
  color: #1763e5;
  font-weight: bold;
  margin: 0 0 10px 0; /* Réduit la marge inférieure */
}

.primary-heading {
  font-size: 32px;
  color: #333;
  margin: 0 0 20px 0; /* Espacement sous le titre */
}

.primary-text {
  font-size: 18px;
  color: #555;
  margin: 0 0 10px 0; /* Réduit l'espacement entre les paragraphes */
}

.about-buttons-container {
  margin-top: 20px; /* Espacement au-dessus des boutons */
}

.secondary-button {
  padding: 10px 20px;
  background: linear-gradient(135deg, rgb(23, 95, 229), rgb(212, 213, 238));
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
  outline: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, rgb(18, 75, 180), rgb(182, 183, 205));
}



.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  background-color: #fff;
  color: #000;
  padding: 50px 20px;
  position: relative;
  margin-top: 10rem;


}

.footer-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: 0;
  background-color: #f0f0f0;
  z-index: -1;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  
}

.footer-logo-container {
  flex: 1;
  max-width: 150px;
}

.footer-logo {
  height: 70px;
}

.footer-contact-info {
  flex: 2;
  text-align: center;
  margin: 0 20px;
}

.footer-contact-info .phone-number {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.footer-icons {
  flex: 1;
  text-align: right;
}

.footer-icons h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.footer-icons svg {
  font-size: 24px;
  color: #585858;
}

.footer-rgpd {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 15px 0;
  margin-top: 20px;
}

.footer-rgpd p {
  margin: 0;
  font-weight: bold;
}

.footer-legal {
  text-align: center;
  margin-top: 20px;
  color: #585858;
}

.footer-legal a {
  color: #585858;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-container {
    margin-bottom: 20px;
  }

  .footer-contact-info {
    margin-bottom: 20px;
  }

  .footer-icons {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-contact-info .phone-number {
    font-size: 18px;
  }

  .footer-rgpd {
    flex-direction: column;
    align-items: center;
  }

  .footer-rgpd p {
    margin: 10px 0;
  }
}

.contact-header {
  margin-bottom: 15px;
  color: rgb(23, 95, 229);
}

.phone-number {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.footer-icons {
  flex: 1;
  margin-bottom: 30px;
  text-align: right;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.social-icons a {
  color: #000;
  font-size: 24px;
}

.footer-legal {
  margin-top: 20px;
  text-align: center;
}

.footer-legal a {
  color: #000;
  text-decoration: none;
}

.footer-rgpd {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-rgpd p {
  flex: 1;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: rgb(23, 95, 229);
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.contact-page-wrapper {
  text-align: center; /* Centre le texte */
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
}

.primary-heading {
  font-size: 2.5em; /* Augmente la taille du titre */
  margin-bottom: 20px; /* Espace sous le titre */
}

.contact-page-wrapper p {
  font-size: 1.2em; /* Augmente légèrement la taille de la police du paragraphe */
  line-height: 1.6; /* Améliore l'espacement entre les lignes pour une meilleure lisibilité */
  max-width: 800px; /* Limite la largeur du texte pour éviter qu'il soit trop large sur les grands écrans */
  margin: 0 auto; /* Centre le paragraphe horizontalement */
}


@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .primary-heading {
    font-size: 2rem; /* Taille réduite pour les petits écrans */
  }

  .primary-text {
    font-size: 1rem;
  }

  .secondary-button {
    font-size: 0.9rem;
  }

  .round-image {
    width: 120px;
    height: 120px;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  

  
}
