* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  font-family: 'Roboto', sans-serif;

  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(235deg, rgb(247, 246, 251), rgb(212, 213, 238), rgb(174, 193, 229));
}


/* Navbar.css */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet flottant */
}

.nav-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.nav-contact-container {
  flex: 1;
  text-align: center;
}

.nav-contact {
  padding: 10px 20px;
  background: linear-gradient(135deg, rgb(23, 95, 229), rgb(212, 213, 238));
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background 0.2s; /* Transition pour le survol */
}

.nav-contact:hover {
  transform: scale(1.05); /* Agrandit légèrement le cadre au survol */
  background: linear-gradient(135deg, rgb(18, 75, 180), rgb(182, 183, 205)); /* Change légèrement le dégradé au survol */
}

.nav-urgence-container {
  flex: 1;
  text-align: right;
}

.nav-urgence {
  font-weight: bold;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease; /* Transition pour la couleur au survol */
}

.navbar-links-container a:hover {
  color: #1a73e8; /* Couleur bleue au survol */
}

.navbar-menu-container {
  display: none; /* Masquer l'icône de menu sur les écrans larges */
}

/* Styles pour les écrans mobiles */



@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.promo-banner {
  position: fixed;
  right: 100px;
  top: 30%;
  transform: translateY(-50%) translateX(100%);
  background-color: #FFDE59;
  color: black;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
  z-index: 1000;
  animation: slideIn 0.5s ease-out forwards;
}

.promo-banner p {
  margin: 0 0 20px 0;
}

.promo-button {
  background-color: black;
  color: #FFDE59;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.promo-button:hover {
  background-color: #333;
}


.devis-icon {
  width: 80px; /* Taille de l'icône */
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.primary-heading {
  margin: 0; /* Supprimer les marges par défaut pour aligner proprement */
}

.home-banner-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px;
  margin-top: 100px;
}

.home-text-section {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Réduit l'espace entre les éléments de la section */
}

.home-small-title {
  font-size: 18px;
  color: #1763e5;
  font-weight: bold;
  margin: 0 0 5px 0; /* Réduit la marge inférieure */
}

.primary-heading {
  font-size: 32px;
  color: #333;
  margin: 0 0 10px 0; /* Réduit la marge inférieure */
}

.primary-text {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.service-overview-header {
  display: flex;
  align-items: center;
  margin: 20px 0; /* Ajuste l'espacement au-dessus et au-dessous de la section */
}

.overview-icon {
  font-size: 40px;
  color: #1763e5;
  margin-right: 10px;
}

.overview-small-title {
  font-size: 16px;
  color: #1763e5;
}

.overview-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.service-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border-radius: 15px;
  padding: 25px; /* Espacement intérieur plus généreux */
  background: linear-gradient(135deg, #1a73e8, #a1c4fd); /* Dégradé vibrant de bleu */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée pour un effet de profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet de hover */
}

.service-details:hover {
  transform: translateY(-7px); /* Légère remontée sur hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Ombre plus dramatique sur hover */
}

.service-section-left,
.service-section-right {
  flex: 1; /* Chaque section prend un espace égal */
  color: white; /* Texte en blanc pour contraster avec le fond */
}

.vertical-line {
  width: 2px;
  background-color: #ffffff80; /* Ligne verticale semi-transparente */
  height: auto;
  margin: 0 20px; /* Espacement autour de la ligne */
}



.service-section-right p {
  margin: 10px 0;
}







.contact-number {
  margin-top: 20px; /* Réduit l'espace au-dessus du numéro de téléphone */
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.home-bannerImage-container {
  max-width: 60%;
  padding: 40px;
  border-radius: 10px;
  margin-top: 50px;
}

.round-image {
  width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.service-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.service-section-left,
.service-section-right {
  flex: 1;
}

.service-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-icon {
  font-size: 36px;
  color: #1763e5;
  margin-right: 10px;
}

.service-small-title {
  font-size: 16px;
  color: #1763e5;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}



.vertical-line {
  width: 2px;
  background-color: #ddd;
  height: 100%;
  align-self: stretch;
}

.service-section-right {
  font-size: 16px;
  color: #555;
}



.round-image {
  width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.services-container {
  width: 100%;
  color: white;
  margin-top: 10px;
}

.services-content {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

.services-header {
  padding-bottom: 32px;
  color:#1763e5
}

.services-title {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 4px solid gray;
  display: inline-block;
}

.services-subtitle {
  padding-top: 16px;
  font-size: 18px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.service-item {
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.6);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px; /* Ajout de marge en bas */
}

.portfolio-img {
  width: 100%;
  height: 200px; /* Fixer la hauteur des images pour qu'elles soient toutes égales */
  object-fit: cover; /* Ajuster les images pour couvrir l'espace disponible */
  transition: transform 0.2s;
}

.portfolio-img:hover {
  transform: scale(1.05);
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  flex-grow: 1; /* Assure que le texte prend de la place verticale disponible */
}

.service-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.portfolio-button {
  padding: 8px 16px;
  background-color: rgb(23, 95, 229);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.portfolio-button:hover {
  background-color: rgb(23, 95, 229);
}


.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: rgb(23, 95, 229);
}
/* About.css */
.about-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.about-section-image-container {
  flex: 1;
  margin-right: 20px;
}

.about-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.about-section-text-container {
  flex: 1;
}

.primary-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.primary-text strong {
  color: #007BFF;
}

.about-buttons-container {
  margin-top: 20px;
}

.primary-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(135deg, #1a73e8, #a1c4fd); /* Changement ici */
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease; /* Changez aussi la transition pour background */
}

.primary-button:hover {
  background: linear-gradient(135deg, #0056b3, #7a9cff); /* Changement ici */
}


/*Description de la section de remise*/
#description {
  text-align: center; /* Centre le texte */
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
  margin: 0 auto; /* Centre le bloc horizontalement */
  max-width: 100%; /* Assure que la largeur ne dépasse pas 100% de l'écran */
}

#subtitle {
  font-size: 1.25rem; /* Ajuste la taille du sous-titre pour les petits écrans */
  margin-bottom: 10px; /* Ajoute un espacement sous le sous-titre */
}

#title {
  font-size: 2rem; /* Ajuste la taille du titre pour les petits écrans */
  margin-bottom: 15px; /* Ajoute un espacement sous le titre */
}

#description-text {
  font-size: 1rem; /* Ajuste la taille du texte pour les petits écrans */
  margin-bottom: 15px; /* Ajoute un espacement sous le texte de description */
}

#exception {
  font-size: 0.875rem; /* Ajuste la taille du texte d'exception */
  color: red; /* Change la couleur pour attirer l'attention */
}




.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: rgb(23, 95, 229);
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
/* Work.css */
/* Work.css */
.work-section-wrapper {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.work-section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work-section-top p {
  text-align: center;
  max-width: 600px;
}

.work-section-top h1 {
  max-width: 700px;
}

.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns items to the top to ensure uniform height */
  flex-wrap: wrap;
  gap: 1rem; /* Adjust spacing between items */
}

.work-section-info {
  width: 290px;
  height: 450px; /* Ensures a minimum height for consistency */
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures consistent spacing between elements */
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for modern look */
  transition: transform 0.3s ease; /* Adds transition for hover effect */
  position: relative; /* Ensures the title aligns correctly */
}

.work-section-info:hover {
  transform: scale(1.05); /* Slightly enlarges the item on hover */
}

.work-section-info h2 {
  margin: 1rem 0;
}

.work-section-info p {
  font-weight: 600;
  margin: 0;
}

/* Container for the image */
.info-boxes-img-container {
  width: 100%;
  height: 150px; /* Ensures a consistent height for images */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.info-boxes-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* To ensure uniform height of titles */
.work-section-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensures titles are aligned at the top */
}

.primary-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}


.contact-page-wrapper p {
  font-size: 1.2em; /* Augmente légèrement la taille de la police du paragraphe */
  line-height: 1.6; /* Améliore l'espacement entre les lignes pour une meilleure lisibilité */
  max-width: 800px; /* Limite la largeur du texte pour éviter qu'il soit trop large sur les grands écrans */
  margin: 0 auto; /* Centre le paragraphe horizontalement */
}

/*Serrurerie*/
.serrurerie-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.service-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
}

.service-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-right: 20px;
}

.service-description {
  flex: 1;
}

.service-description h2 {
  color: #007BFF;
  margin-bottom: 10px;
}

.service-description p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
/* Footer.css */
.footer-wrapper {
  margin-top: 5rem;
  background-color: #f8f9fa; /* Couleur de fond légère */
  padding: 2rem 1rem; /* Espacement intérieur */
  border-radius: 10px; /* Coins arrondis pour l'ensemble du footer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet flottant */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* Largeur maximale pour le contenu */
  margin-bottom: 1rem;
}

.footer-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 150px; /* Ajustez selon la taille souhaitée */
  border-radius: 10px; /* Coins arrondis pour le logo */
}
.contact-header,
.phone-number, /* Ajuste la taille des autres paragraphes */
.footer-contact-info p {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; /* Centre le texte */
}
.contact-header {
  margin-bottom: 10px;
  color: #1a73e8; /* Couleur principale */
  font-size: 1.25rem; /* Taille du texte */
  font-weight: bold;
}

.phone-number {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: bold;
}

.footer-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons h3 {
  margin-bottom: 10px;
  color: #333; /* Couleur sombre pour le titre */
}

.social-icons {
  display: flex;
  gap: 15px; /* Espacement entre les icônes */
}

.social-icons a {
  color: #333; /* Couleur sombre pour les icônes */
  font-size: 1.5rem; /* Taille des icônes */
  transition: color 0.3s ease; /* Transition pour le survol */
}

.social-icons a:hover {
  color: #1a73e8; /* Couleur au survol */
}

.footer-legal {
  margin-top: 1rem;
  text-align: center;
}

.footer-legal a {
  color: #333; /* Couleur sombre pour les liens */
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: underline; /* Soulignement au survol */
}

.footer-rgpd {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Largeur maximale pour la section RGPD */
}

.footer-rgpd p {
  flex: 1;
  text-align: center;
  color: #666; /* Couleur grise pour le texte RGPD */
  font-size: 0.875rem; /* Taille du texte RGPD */
}
/* Styles pour les écrans très petits (max-width: 600px) */
/* Styles généraux pour la version mobile */
@media (max-width: 600px) {
  /* Navbar */
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-logo-container {
    margin-bottom: 10px;
  }

  .nav-contact-container {
    margin-bottom: 10px;
  }

  .nav-urgence-container {
    margin-bottom: 10px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: block;
  }

  /* Promo Banner */
  .promo-banner {
    right: 10px;
    width: calc(100% - 20px);
    transform: translateX(0);
    position: fixed;
  }

  /* Home */
  .home-banner-container {
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
  }
  .overlay-images {
    display:None;
  }



  .carousel .carousel-slider {
    width: 100%; /* Assure que le carrousel occupe toute la largeur disponible */
  }

  .carousel .carousel-slide {
    width: 100%; /* Assure que chaque diapositive occupe toute la largeur disponible */
  }

  .home-text-section {
    max-width: 100%;
  }

  .primary-heading {
    font-size: 1.5rem;
  }

  .primary-text {
    font-size: 0.875rem;
  }

  /* Service */
  .service-details {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .service-section-left,
  .service-section-right {
    flex: 1;
    text-align: center;
  }

  .vertical-line {
    display: none;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-item {
    margin-bottom: 20px;
  }

  .portfolio-img {
    height: 150px;
  }

  .service-buttons {
    flex-direction: column;
    gap: 10px;
  }

  /* About */
  .about-section-container {
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
  }

  .about-section-image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-image {
    max-width: 100%;
  }

  .about-section-content {
    max-width: 100%;
  }

  /*Description*/
  #description {
    padding: 15px; /* Ajuste le padding pour les petits écrans */
  }

  /* Contact */
  .contact-form-container input,
  .contact-form-container textarea {
    font-size: 0.875rem;
  }

  .contact-form-container button {
    font-size: 0.875rem;
  }

  /* Footer */
  .footer-content {
    flex-direction: column; /* Colonne pour les petits écrans */
    align-items: center;
  }

  .footer-logo-container {
    margin-bottom: 1rem;
  }

  .footer-icons {
    margin-top: 1rem; /* Espacement au-dessus des icônes pour les petits écrans */
  }

  .social-icons {
    flex-direction: column; /* Empile les icônes les unes sur les autres pour les petits écrans */
  }

  .footer-rgpd {
    flex-direction: column; /* Colonne pour les petits écrans */
    align-items: center;
    text-align: center;
  }
}
